asttokens
backcall
charset-normalizer==2.0.12
cycler
dataclasses
debugpy
decorator
executing
fonttools
idna
ipykernel
ipython
jedi==0.17.2
jupyter-client
jupyter-core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
opencv-python==4.1.0.25
packaging
pandas
parso
pickleshare
Pillow
prompt-toolkit
psutil
pure-eval
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
requests
scipy
seaborn
six
stack-data
thop
tornado
tqdm
traitlets
typing-extensions
urllib3
wcwidth
torch==1.10.1
torchvision==0.11.2
torchaudio==0.10.1
flask
gevent
sqlalchemy
flask_sqlalchemy
pymysql